body {text-align: center; color: #2e3436;}
.container {margin: 0 auto; 
    width: 600px;}
#header {background: white url(../img/bg_top.jpg) no-repeat;
    height: 323px;
    text-align: left;
    position: relative;}
    
h1 {padding: 0 0 0 40px; 
    font-size: 4em;}

a {text-decoration: none;}
h1 a {color: #2e3436;}
a:hover, a:active, a:focus {color: #729fcf;}

h2 {font-size: 1.8em;}

#content {text-align: left; border-top: 1px dotted black;}

span.sigurd {margin-left: 100px;}
span.sperm {margin-left: 50px;}
span.facts {margin-left: 0;}

.clear {clear: both;} 
#facts {float:left; width: 400px; padding-right: 30px;}

.fact_text {width: 70%;}
.fact_rate_actions {float: right;}

#genfacts {float: right; width: 200px;}
#genfacts h2 {}
#fact {font-size: 1em; font-weight: bolder; padding-bottom: 18px;}

#testimonials {border-top: 1px dotted black;}
